/*
 Name: MaxSite
 Description: แม่แบบ 2 คอลัมน์ (เป็น 3 คอลัมน์ในหน้าแรก) เป็นแม่แบบยอดนิยมของเว็บโรงเรียน หรือเว็บ อบต.
 Author: Goragod.com
 Author URI: http://www.goragod.com
 Responsive
*/
body {
	background-image: url(img/bg.gif);
	background-repeat: repeat;
}
.wrapper_bg_color, .header_bg_color, .footer_bg_color {
	background-color: #FFF;
}
.wrapper_top_bg {
	padding-left: 10px;
	padding-right: 10px;
}
.menu_wrapper {
	padding-bottom: 10px;
}
.footer {
	padding: 10px;
	color: #0066FF;
	text-align: center;
}
.footer a {
	font-weight: bold;
	color: inherit;
}
.topmenu {
	background-image: url(img/menu_bg.png);
	background-repeat: repeat-x;
	background-position: top center;
	color: #0066FF;
}
.topmenu > ul > li > a > span {
	padding: 7px 0;
	font-size: 1.2em;
	text-transform: uppercase;
}
.topmenu > ul > li.home > a > span {
	background-image: url(img/home.png);
	background-repeat: no-repeat;
	background-position: top center;
	color: #FFF;
}
@media only screen and (max-width: 960px) {
	.topmenu > ul > li.home > a > span {
		background-image: url();
		color: #0066FF;
	}
}
.topmenu ul > li:hover > a, .topmenu > ul > li.hover > a, .topmenu > ul > li.select > a {
	color: #000;
}
.topmenu li.select > a, .topmenu li:hover > a, .topmenu li.hover > a, .sidemenu li.select > a, .sidemenu li:hover > a, .sidemenu li.hover > a {
	background-color: transparent;
}
.sidemenu a {
	background-image: url(img/menu.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #D8FF00 !important;
	font-weight: bold;
}
.sidemenu li > a > span {
	padding: 0.42em 10px 0.42em 25px;
}
.sidemenu a:hover {
	background-position: 0 -32px;
	color: #FFF !important;
}
.topmenu > ul ul, .sidemenu > ul ul {
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	background-color: #FFF;
}
.widget_bdr .widget_body {
	border-width: 1px;
	border-color: #127CD4;
	border-style: solid;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	padding: 5px;
}
.widget header {
	background-image: url(img/widget_header.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 32px;
}
.widget header > h2 {
	font-size: 140%;
	line-height: 32px;
	font-family: Arial;
	color: #0066FF;
	margin: 0 10px;
}
.login p {
	padding: 2px 0;
}
.login .head {
	font-size: 90%;
	text-align: center;
}
.login .title {
	display: none;
}
.login .head > span {
	color: #066;
}
.memberfrm a {
	display: block;
	line-height: 1.8em;
}
.breadcrumbs {
	color: #CCC;
}
.bdr_content header > h3.icon-tags, .content .mainform legend > span, .content .member_section legend > span, .content .member_section h2 {
	margin-bottom: 10px;
	line-height: normal;
	display: block;
	font-weight: normal;
	font-size: 140%;
}
#board-view .reaction, #document-view .reaction {
	border: 1px solid #B7DEFF;
	background-color: #E5F3FF;
}
#comment-list .r {
	margin-bottom: 10px;
}
#comment-list .r > .reaction {
	border: 1px solid #9EDA9E;
	background-color: #EDF8ED;
	text-align: right;
}
.content .document .bg1, .content .board .bg1, .content .download .bg1 {
	background-color: #EEE;
}
.content .document .bg2, .content .board .bg2, .content .download .bg2 {
	background-color: #FDEAFB;
}
.content .board a.topic, .content .document a.topic, .content .download a.topic {
	color: #0066FF;
}
.counter-box .col {
	background-color: #F9F9F9;
}
.content .bdr_content {
	border-width: 1px;
	border-color: #EEE;
	border-style: solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 5px;
	margin-bottom: 10px;
}
.widget_share {
	position: fixed;
	top: 50%;
	margin-top: -52px;
	left: 0;
	width: 31px;
	border-width: 1px;
	border-style: solid solid solid none;
	border-color: #000;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
	overflow: hidden;
	padding-bottom: 10px;
}
body .widget_share a {
	padding: 0;
	margin: 5px;
	float: left;
	width: 16px;
	height: 16px;
	color: #666;
}
.widget_share a:hover {
	color: #FFF;
}
.homepage header {
	background-position: 0 0;
	height: 32px;
}
.homepage header > h2 {
	color: #FFF;
	padding-left: 70px;
	font-size: 140%;
	border: none;
	margin: 0;
	line-height: 32px;
}
.homepage header > h2:before {
	display: none;
}
.homepage header {
	background-position: 0 0;
	height: auto;
}
.content .homepage header.bar2 > h2 {
	color: #157CD6;
}
.homepage header, header.bar1 {
	background-image: url(img/bar1.png);
}
header.bar2 {
	background-image: url(img/bar2.png);
}
header.bar3 {
	background-image: url(img/bar3.png);
}
header.bar4 {
	background-image: url(img/bar4.png);
}
header.bartop {
	background-image: url(img/bartop.png);
}
.tab > ul > li.select > a {
	font-weight: bold;
}
.homepage .home header {
	background-image: url();
	height: auto;
}
.homepage .next {
	text-align: right;
	margin: 5px 0 0;
}
#GModal_modaldiv > .modaldiv form {
	padding: 10px;
	background-color: #FFF;
}
form dl.info {
	background-color: #FBFDFF;
	border: 1px dashed #DDD;
	color: #000;
	line-height: 1.8em;
	margin: 5px 0;
	padding: 10px;
}