/*
 Name: Default
 Description: Template แบบ 2 คอลัมน์ Sidebar อยู่ด้านขวามือ สามารถแก้ไขหรือดัดแปลงได้ง่าย
 Author: Goragod.com
 Author URI: http://www.goragod.com
 Responsive
*/
body {
	background-image: url(img/bg.gif);
	background-repeat: repeat;
	color: #61604D;
}
a {
	color: #000;
}
.gcss-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 4px solid #9E9E9E;
}
.wrapper_bg_color, .footer_bg_color {
	background-color: #FFF;
}
.wrapper_top_bg {
	padding: 10px;
}
.header_bg {
	background-image: url(img/header_bg.png);
	background-repeat: repeat-x;
}
#logo > h1 {
	font-size: 300%;
	color: #FFF;
}
#logo > p.description {
	font-size: 90%;
	color: #BBB;
	font-style: italic;
}
.menu_wrapper {
	background-color: #C5E675;
	border-top: solid 4px #7BA41E;
	padding: 0 10px;
}
.topmenu li.select > a,
.topmenu li:hover > a,
.sidemenu li:hover > a {
	background-color: #333;
	color: #FFF;
}
.footer {
	font-size: 80%;
	padding: 10px 0;
	color: #61604D;
	text-align: center;
}
#text-links {
	background-color: #E5F3FF;
	border-color: #B7DEFF;
	border-style: solid none solid none;
	border-width: 1px;
	padding: 10px 0;
	font-size: 90%;
}
.sidebar .widget_bdr {
	border-width: 1px;
	border-style: solid;
	border-color: #94C523;
	margin-bottom: 10px;
}
.sidebar .widget header h2, .login .head {
	background-color: #C3E672;
	padding: 5px;
	border-width: 1px;
	border-style: none none solid none;
	border-color: #94C523;
	font-size: inherit;
}
#widget-search-form {
	margin: 5px 5px 0 5px;
}
.login header {
	display: none;
}
.login .head {
	margin-top: 0;
}
.login .head > span {
	color: #093;
}
.login .title {
	color: #36C;
}
.login .subtitle {
	color: #093;
	font-size: 90%;
}
.memberfrm a {
	display: block;
	line-height: 1.8em;
}
p.usericon > img {
	border: 1px solid #CCCCFF;
	padding: 2px;
	background-color: #FFF;
}
.bdr_content header > h3.icon-tags, .mainform legend > span, .member_section legend > span {
	border: 1px solid #E8B5E8;
	background-color: #F9ECF9;
	margin-bottom: 10px;
	line-height: normal;
	display: block;
	font-weight: normal;
	font-size: 100%;
	padding: 5px;
}
.member_section {
	background-color: #F9ECF9;
}
#document-list, #board-list, #download-list {
	border-color: #DDD;
}
#document-list > .row span {
	margin-left: 5px;
}
#comment-list .r {
	margin-bottom: 10px;
}
#comment-list .reaction, #document-view .reaction, #board-view .reaction {
	border: 1px solid #B7DEFF;
	background-color: #E5F3FF;
}
.bdr_content header > h3.icon-tags {
	border: 1px solid #CDC;
	background-color: #EFE;
}
#comment-list .reaction {
	text-align: right;
}
#document-view > div.body {
	margin-bottom: 10px;
}
#board-list td.col3 {
	background-color: #F9F9F9;
}
#board-list th.col3 {
	background-color: #FDDBF9;
}
.breadcrumbs {
	font-style: italic;
}
.tab > ul > li > a {
	border-color: #E8B5E8;
	background-color: #FFF;
}
.tab > ul > li.select > a, .tab > ul > li > a:focus {
	background-color: #F9ECF9;
}
.homepage header {
	background-color: #E5F3FF;
	border-color: #B7DEFF;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	margin-bottom: 5px;
}
.homepage .next {
	text-align: right;
	margin: 5px 0 0;
}
#GModal_modaldiv > .modaldiv form {
	padding: 10px;
	background-color: #FFF;
}
form dl.info {
	background-color: #F0F9FF;
	border: 1px dashed rgba(0,0,0,0.2);
	color: #000;
	line-height: 1.8em;
	margin: 5px 0;
	padding: 10px;
}
.modaldiv .register_frm {
	max-width: 600px;
}