/*
 Name: White
 Description: Theme สีขาวสะอาดตา แบบ 2 คอลัมน์ สำหรับ GCMS เวอร์ชั่น 6 ใช้ CSS3 แสดงผลได้เต็มรูปแบบ บน IE9 Firefox Safari Opera และ Chrome (แสดงผล CSS3 บางส่วนบน IE7 และ IE8)
 Author: Goragod
 Author URI: http://gcms.in.th
 Responsive
*/
body {
	background-color: #45484B;
	background-image: url(img/bg.png);
	background-repeat: repeat;
	color: #6A6A6A;
	padding: 10px 0;
}
a {
	color: #000;
}
.gcss-wrapper {
	background-color: #FFF;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-shadow: 0 0 10px #C8C8C8;
	-webkit-box-shadow: 0 0 10px #C8C8C8;
	box-shadow: 0 0 10px #C8C8C8;
}
.wrapper_top_bg {
	border-top: 1px solid #E6E6E6;
	background-color: #F9F9F9;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F9F9F9', endColorstr='#FFFFFF');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F9F9F9', endColorstr='#FFFFFF')";
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#FFFFFF));
	background-image: -moz-linear-gradient(top, #F9F9F9, #FFFFFF);
	padding: 10px;
}
.menu_wrapper {
	padding: 10px;
}
.topmenu li.select > a,
.topmenu li:hover > a,
.sidemenu li:hover > a {
	background-color: #333;
	color: #FFF;
}
.topmenu > ul > li.select > a,
.topmenu > ul > li:hover > a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.footer {
	padding: 20px 0;
	color: #A3A3A3;
	background-color: #363636;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-radius: 0 0 11px 11px;
	-moz-border-radius: 0 0 11px 11px;
	-webkit-border-radius: 0 0 11px 11px;
	text-align: center;
}
.footer > p > a {
	color: #E0E0E0;
}
#text-links {
	background-color: #EFEFEC;
	border-color: #E6E6E6;
	border-style: solid none none none;
	border-width: 1px;
	padding: 10px 0;
}
.widget_bg_color {
	background-color: #F0F0F0;
}
.home.widget_bg_color {
	background-color: transparent;
}
.sidebar .widget {
	margin-bottom: 10px;
	border-radius: 11px 11px 0 0;
	-moz-border-radius: 11px 11px 0 0;
	-webkit-border-radius: 11px 11px 0 0;
}
.sidebar header, .login .head {
	border-width: 1px;
	border-style: none none solid none;
	border-color: #CCC;
	border-radius: 11px 11px 0 0;
	-moz-border-radius: 11px 11px 0 0;
	-webkit-border-radius: 11px 11px 0 0;
}
.sidebar header, .login .head, .homepage header {
	background-color: #DDD;
	text-shadow: 1px 1px 0 #FFF;
}
#widget-search-form {
	padding: 5px;
}
.login header {
	display: none;
}
.login .head {
	text-align: center;
	padding: 5px;
}
.login .head > span {
	color: #093;
}
.login .title {
	color: #36C;
}
.login .subtitle {
	color: #093;
	font-size: 90%;
}
.memberfrm a {
	display: block;
	line-height: 1.8em;
}
p.usericon > img {
	border: 1px solid #CCCCFF;
	padding: 2px;
}
.bdr_content header > h3.icon-tags, .mainform fieldset > legend {
	border-left: 5px solid #333;
	background-color: #EEE;
	padding: 5px 5px 5px 10px;
	margin-bottom: 5px;
	font-size: 1.2em;
}
.member_section {
	background-color: #EEE;
}
.bdr_content {
	border-color: #DDD;
}
.q .reaction, #comment-list .reaction {
	background-color: #EEE;
	border-top: 3px solid #999;
}
#comment-list .reaction {
	text-align: right;
}
.content h2 {
	border-bottom: 1px dashed #EBEBEB;
	padding-bottom: 2px;
}
#document-list h2 {
	border: none;
}
.breadcrumbs {
	font-style: italic;
	color: #999;
}
.tab > ul {
	margin-left: 10px;
}
.tab > ul > li > a {
	background-color: #FFF;
}
.tab > ul > li.select > a {
	background-color: #EEE;
}
.sidebar header h2, .homepage header h2 {
	border: none;
	padding: 0 5px;
}
.widget header h2 {
	font-size: 1.4em;
}
.homepage .next {
	text-align: right;
	padding: 5px 10px;
	margin: 0;
}
#GModal_modaldiv > .modaldiv form {
	padding: 10px;
	background-color: #FFF;
}
form dl.info {
	background-color: #F5F5F5;
	border: 1px dashed #EEE;
	margin: 5px 0;
	padding: 10px;
}